.loader {
  width: 12.5rem;
  height: 12.5rem;
  margin: auto;
  margin-top: 12.5rem;
  background-color: var(--c-purple-opacity);
  border: 7px solid transparent;
  border-top: 7px solid var(--c-purple);
  border-radius: 50%;
  animation: rotateAnimation ease-in-out 4s infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
