@use "./base/resolutions.scss" as *;
.search {
  &__errorSpan {
    color: var(--c-red);
  }
}

.searchInputContainer {
  position: relative;
  display: flex;
  margin-bottom: 0.8rem;
  &__input {
    width: 100%;
    padding: 1.5rem 5.3rem 1.5rem 2.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--input-background-color);
    color: var(--font-color);
    border-radius: 1.6rem;
    border: 1px solid transparent;

    &::placeholder {
      color: var(--input-placeholder-color);
      opacity: 25%;
    }

    &:focus {
      outline: none;
      border-color: var(--c-purple);
    }

    &.--empty {
      border-color: var(--c-red);
    }

    @include tablet {
      font-size: 2rem;
    }
  }

  &__button {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-right: 2.445rem;
    background-color: transparent;
    border: none;
  }
}
